@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

@import './base.css';


#designer {
  position: relative;

  height: 100vh;
  overflow: hidden;

  background-color: lightgray;
}

#designer-toolbox {
  position: relative;
  top: 2em;
  left: 1em;

  padding: 1em;
  width: fit-content;

  background-color: white;
  z-index: 3;
}

#designer-toolbox > div {
  margin-bottom: 0.5em;
}

#designer-toolbox > div > h2 {
  display: inline-block;
  margin: 0 1em;
} 

#designer-tool {
  position: absolute;
  visibility: hidden;
}

#designer-output {
  position: fixed;
  top: 10em;
  right: 2em;

  width: 50rem;
  height: 50rem;

  background-color: white;
  z-index: 10;
}

#designer-output > textarea {
  width: 100%;
  height: 90%;
  overflow: auto;
}